{% extends "drive/base.html" %}

{% block title %}Liste des clients{% endblock %}

{% block content %}
    <h1>Liste des clients</h1>
    <button class="button-68"><a href="/drive/clients/add/">Ajouter un client</a></button>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Date d'inscription</th>
            <th>Actions</th>
        </tr>
        {% for client in Clients %}
        <tr>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.adresse }}</td>
            <td>{{ client.date_inscription }}</td>
            <td>
                <a class="button-68" href="edit/{{ client.id }}">Modifier</a>
                <a class="button-68" href="delete/{{ client.id }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}