{% extends "drive/base.html" %}

{% block title %}Ajout d'un produit{% endblock %}

{% block content %}
    <h1>Ajout d'un produit</h1>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {{ prodform }}
        <button type="submit" class="button-68">Ajouter</button>
    </form>
    <form method="post" enctype="multipart/form-data">
        <a href="/drive/produits/import/" class="button-68">Importer un produit depuis un fichier CSV</a>
    </form>
{% endblock %}