{% extends "drive/base.html" %}

{% block title %}Liste des produits{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>
    <table>
        <tr>
            <th>Photo</th>
            <th>Nom</th>
            <th>Date de péremption</th>
            <th>Marque</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        {% for produit in Produits %}
        <tr>
            <td>
                {% if produit.photo and produit.photo_exists %}
                    <img src="{{ produit.photo.url }}" class="img-class">
                {% else %}
                    <p>La photo est introuvable</p>
                {% endif %}
            </td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.date_de_peremption }}</td>
            <td>{{ produit.marque }}</td>
            <td>{{ produit.prix }}</td>
            <td>{{ produit.id_categorie.nom }}</td>
            <td>
                <a class="button-68" href="edit/{{ produit.id }}">Modifier</a>
                <a class="button-68" href="delete/{{ produit.id }}">Supprimer</a>
                <a class="button-68" href="/drive/liste_produits/add/{{ produit.id }}">Ajouter à une commande</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}