
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'drive/style.css' %}">


  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
  <h1>Drive </h1>

  <div class="onglets">
    <p class="link"><a class="linka" href="/drive/">Accueil</a></p>
    <p class="link"><a class="dropdown-item" href="/drive/produits/add/">Ajouter un produit</a></p>
    <p class="link"><a class="dropdown-item" href="/drive/categories/"> catégorie</a></p>
    <p class="link"><a class="dropdown-item" href="/drive/clients/">Client</a></p>
<p class="link"><a class="dropdown-item" href="/drive/commandes/">Commande</a></p>
    <p class="link"><a class="dropdown-item" href="/drive/produits/">Produit</a></p>
  </div>
</nav>
<div class="fakebody">
{% block content %}{% endblock %}
</div>
<footer class="footer-distributed">
  <div class="footer-right">

  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="#">Accueil</a>
      <a href="#">Projects</a>
      <a href="#">ShowRoom</a>
      <a href="#">Team</a>
      <a href="#">About us</a>
    </p>
    <p>Groupe 10 </p>
  </div>
</footer>
</body>
</html>